version: '3.8'

services:
  gerenciar-policoins-front:
    container_name: gerenciar-policoins-front
    build: 
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env
    ports: 
      - "8080:80"
    networks:
      - app-net
    restart: unless-stopped

networks: 
  app-net:
    driver: bridge
